src/openforms/appointments/contrib/jcc/tests/mock/GenericGuidanceSystem2.wsdl


<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s0="http://www.genericCBS.org/GenericCBS/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://wbsvc_gtr.jccsoftware.nl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://wbsvc_gtr.jccsoftware.nl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.genericCBS.org/GenericCBS/">
      <s:element name="getGovProductDetailsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovProductDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="out" type="s0:ProductDetailType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProductDetailType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="appDuration" type="s:int" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="requisites" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="maxCountForEvent" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getGovAvailableProductsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dummy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovAvailableProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="products" type="s0:ProductType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProductType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productMaxCountForEvent" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getLanguagesRequest">
        <s:complexType />
      </s:element>
      <s:element name="GetLanguagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="languages" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="defaultLanguage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enableSecureAppointmentLinksRequest">
        <s:complexType />
      </s:element>
      <s:element name="EnableSecureAppointmentLinksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovLocationDetailsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="locationID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovLocationDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="locaties" type="s0:LocationDetailsType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LocationDetailsType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="locationDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="postalcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="city" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="telephone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getGovLocationsForProductRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovLocationsForProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="location" type="s0:LocationType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LocationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="locationID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="locationDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="locationOpeningHours" type="s0:LocationOpeningHoursType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocationOpeningHoursType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="day" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="fromTime1" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="tillTime1" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="fromTime2" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="tillTime2" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="fromTime3" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="tillTime3" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="deleteGovAppointmentRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteGovAppointmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="updateStatus" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSecureLinkIdByAppIdRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSecureLinkIdByAppIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="secureLinkId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAppIdByLinkIdRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="link" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppIdBySecureLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendAppointmentEmailRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAppointmentEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovLocationsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dummy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovLocationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="locationIDs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovAppointmentTimeUnitRequest">
        <s:complexType />
      </s:element>
      <s:element name="getGovAppointmentTimeUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="appointmentTimeUnit" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovAppointmentDetailsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovAppointmentDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appointment" type="s0:AppointmentDetailsType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppointmentDetailsType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientSex" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="clientDateOfBirth" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientInitials" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientPostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientTel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="locationID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="appStartTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="appEndTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appointmentDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="caseID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="isClientVerified" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientLanguage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="isRecurring" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="getGovAppointmentExtendedDetailsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovAppointmentExtendedDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appointment" type="s0:AppointmentFullDetaildWithFullCustomerDetailsType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppointmentFullDetaildWithFullCustomerDetailsType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appointmentID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientLastNamePrefix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientSex" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="clientDateOfBirth" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientBirthdayCompleteness" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientInitials" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientStreetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientHouseNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientHouseNumberSuffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientPostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientTel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientMobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="locationID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="locationDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="appStartTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="appEndTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appointmentDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="caseID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="isClientVerified" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientLanguage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientNationality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientCustomNationality" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="isRecurring" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="getGovAppointmentsByClientIDRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovAppointmentsByClientIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="appointment" type="s0:AppointmentType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppointmentType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appointmentID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="locationID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="clientBirthDate" type="s:date" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="isRecurring" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="getGovAppointmentsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="day" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="locationID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovAppointmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="appointment" type="s0:AppointmentType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovAvailableProductsByProductRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ProductNr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LocatieID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovAvailableProductsByProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="products" type="s0:ProductType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovLatestPlanDateRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovLatestPlanDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="latestPlanDate" type="s:date" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setGovCaseIDToAppointmentRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="caseId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appointmentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGovCaseIDToAppointmentIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateGovAppointmentRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appUpdate" type="s0:AppointmentDetailsType" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateGovAppointmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="updateStatus" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateGovAppointmentWithFieldsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appUpdate" type="s0:AppointmentDetailsType" />
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="fields" type="s0:Field" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Field">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="updateGovAppointmentWithFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="updateStatus" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateGovAppointmentExtendedDetailsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appUpdate" type="s0:AppointmentFullDetaildWithFullCustomerDetailsType" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateGovAppointmentExtendedDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="updateStatus" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateGovAppointmentWithFieldsExtendedDetailsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appUpdate" type="s0:AppointmentFullDetaildWithFullCustomerDetailsType" />
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="fields" type="s0:Field" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateGovAppointmentWithFieldsExtendedDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="updateStatus" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovAppointmentsCaseRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="caseID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovAppointmentsCaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="appointment" type="s0:AppointmentFullDetailsType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppointmentFullDetailsType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appointmentID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientSex" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="clientDateOfBirth" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientInitials" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientPostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientTel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="locationID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="locationDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="appStartTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="appEndTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appointmentDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appointmentDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="caseID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="isClientVerified" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientLanguage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="isRecurring" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="getGovAppointmentsBSNRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BSN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovAppointmentsBSNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="appointment" type="s0:AppointmentFullDetailsType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovAvailableDaysRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="locationID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="startDate" type="s:date" />
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="endDate" type="s:date" />
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="appDuration" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovAvailableDaysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="dates" type="s:date" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovAvailableTimesPerDayRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="date" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="locationID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="appDuration" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovAvailableTimesPerDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="times" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovAppointmentDuration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="AppointmentDate" type="s:date" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGovAppointmentDurationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="out" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bookGovAppointmentRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appDetail" type="s0:AppointmentDetailsType" />
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="fields" type="s0:Field" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bookGovAppointmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="updateStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bookGovAppointmentExtendedDetailsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appDetail" type="s0:AppointmentFullDetaildWithFullCustomerDetailsType" />
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="fields" type="s0:Field" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bookGovAppointmentExtendedDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="updateStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestUpdateAppointmentRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ipAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="userEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="appointmentParameters" type="s0:AppointmentParameterType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppointmentParameterType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestUpdateAppointmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestRemoveAppointmentRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ipAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="userEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestRemoveAppointmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestAddAppointmentRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ipAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="userEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="appointmentParameters" type="s0:AppointmentParameterType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestAddAppointmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppointmentQRCodeTextRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="appID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppointmentQRCodeTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppointmentFieldSettingsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppointmentFieldSettingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Result" type="s0:AppointmentFieldSettings" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppointmentFieldSettings">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="descFieldSetting" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRequiredClientFieldsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequiredClientFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequiredClientFieldsExtendedRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequiredClientFieldsExtendedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDayPartPeriodsRequest">
        <s:complexType />
      </s:element>
      <s:element name="GetDayPartPeriodsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DayPartPeriodsWrapper" type="s0:DayPartPeriodsWrapper" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DayPartPeriodsWrapper">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="nightStart" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="morningStart" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="afternoonStart" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="eveningStart" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAppointmentFieldsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppointmentFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Result" type="s0:Field" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MidOfficeRequestRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="requestId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="information" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MidofficeRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getGovProductDetailsSoapIn">
    <wsdl:part name="parameters" element="s0:getGovProductDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="getGovProductDetailsSoapOut">
    <wsdl:part name="parameters" element="s0:getGovProductDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getGovAvailableProductsSoapIn">
    <wsdl:part name="parameters" element="s0:getGovAvailableProductsRequest" />
  </wsdl:message>
  <wsdl:message name="getGovAvailableProductsSoapOut">
    <wsdl:part name="parameters" element="s0:getGovAvailableProductsResponse" />
  </wsdl:message>
  <wsdl:message name="GetLanguagesSoapIn">
    <wsdl:part name="parameters" element="s0:getLanguagesRequest" />
  </wsdl:message>
  <wsdl:message name="GetLanguagesSoapOut">
    <wsdl:part name="parameters" element="s0:GetLanguagesResponse" />
  </wsdl:message>
  <wsdl:message name="EnableSecureAppointmentLinksSoapIn">
    <wsdl:part name="parameters" element="s0:enableSecureAppointmentLinksRequest" />
  </wsdl:message>
  <wsdl:message name="EnableSecureAppointmentLinksSoapOut">
    <wsdl:part name="parameters" element="s0:EnableSecureAppointmentLinksResponse" />
  </wsdl:message>
  <wsdl:message name="getGovLocationDetailsSoapIn">
    <wsdl:part name="parameters" element="s0:getGovLocationDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="getGovLocationDetailsSoapOut">
    <wsdl:part name="parameters" element="s0:getGovLocationDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getGovLocationsForProductSoapIn">
    <wsdl:part name="parameters" element="s0:getGovLocationsForProductRequest" />
  </wsdl:message>
  <wsdl:message name="getGovLocationsForProductSoapOut">
    <wsdl:part name="parameters" element="s0:getGovLocationsForProductResponse" />
  </wsdl:message>
  <wsdl:message name="deleteGovAppointmentSoapIn">
    <wsdl:part name="parameters" element="s0:deleteGovAppointmentRequest" />
  </wsdl:message>
  <wsdl:message name="deleteGovAppointmentSoapOut">
    <wsdl:part name="parameters" element="s0:deleteGovAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetSecureLinkIdByAppIdSoapIn">
    <wsdl:part name="parameters" element="s0:getSecureLinkIdByAppIdRequest" />
  </wsdl:message>
  <wsdl:message name="GetSecureLinkIdByAppIdSoapOut">
    <wsdl:part name="parameters" element="s0:GetSecureLinkIdByAppIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppIdBySecureLinkSoapIn">
    <wsdl:part name="parameters" element="s0:getAppIdByLinkIdRequest" />
  </wsdl:message>
  <wsdl:message name="GetAppIdBySecureLinkSoapOut">
    <wsdl:part name="parameters" element="s0:GetAppIdBySecureLinkResponse" />
  </wsdl:message>
  <wsdl:message name="SendAppointmentEmailSoapIn">
    <wsdl:part name="parameters" element="s0:sendAppointmentEmailRequest" />
  </wsdl:message>
  <wsdl:message name="SendAppointmentEmailSoapOut">
    <wsdl:part name="parameters" element="s0:SendAppointmentEmailResponse" />
  </wsdl:message>
  <wsdl:message name="getGovLocationsSoapIn">
    <wsdl:part name="parameters" element="s0:getGovLocationsRequest" />
  </wsdl:message>
  <wsdl:message name="getGovLocationsSoapOut">
    <wsdl:part name="parameters" element="s0:getGovLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="getGovAppointmentTimeUnitSoapIn">
    <wsdl:part name="parameters" element="s0:getGovAppointmentTimeUnitRequest" />
  </wsdl:message>
  <wsdl:message name="getGovAppointmentTimeUnitSoapOut">
    <wsdl:part name="parameters" element="s0:getGovAppointmentTimeUnitResponse" />
  </wsdl:message>
  <wsdl:message name="getGovAppointmentDetailsSoapIn">
    <wsdl:part name="parameters" element="s0:getGovAppointmentDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="getGovAppointmentDetailsSoapOut">
    <wsdl:part name="parameters" element="s0:getGovAppointmentDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getGovAppointmentExtendedDetailsSoapIn">
    <wsdl:part name="parameters" element="s0:getGovAppointmentExtendedDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="getGovAppointmentExtendedDetailsSoapOut">
    <wsdl:part name="parameters" element="s0:getGovAppointmentExtendedDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getGovAppointmentsByClientIDSoapIn">
    <wsdl:part name="parameters" element="s0:getGovAppointmentsByClientIDRequest" />
  </wsdl:message>
  <wsdl:message name="getGovAppointmentsByClientIDSoapOut">
    <wsdl:part name="parameters" element="s0:getGovAppointmentsByClientIDResponse" />
  </wsdl:message>
  <wsdl:message name="getGovAppointmentsSoapIn">
    <wsdl:part name="parameters" element="s0:getGovAppointmentsRequest" />
  </wsdl:message>
  <wsdl:message name="getGovAppointmentsSoapOut">
    <wsdl:part name="parameters" element="s0:getGovAppointmentsResponse" />
  </wsdl:message>
  <wsdl:message name="getGovAvailableProductsByProductSoapIn">
    <wsdl:part name="parameters" element="s0:getGovAvailableProductsByProductRequest" />
  </wsdl:message>
  <wsdl:message name="getGovAvailableProductsByProductSoapOut">
    <wsdl:part name="parameters" element="s0:getGovAvailableProductsByProductResponse" />
  </wsdl:message>
  <wsdl:message name="getGovLatestPlanDateSoapIn">
    <wsdl:part name="parameters" element="s0:getGovLatestPlanDateRequest" />
  </wsdl:message>
  <wsdl:message name="getGovLatestPlanDateSoapOut">
    <wsdl:part name="parameters" element="s0:getGovLatestPlanDateResponse" />
  </wsdl:message>
  <wsdl:message name="SetGovCaseIDToAppointmentIDSoapIn">
    <wsdl:part name="parameters" element="s0:setGovCaseIDToAppointmentRequest" />
  </wsdl:message>
  <wsdl:message name="SetGovCaseIDToAppointmentIDSoapOut">
    <wsdl:part name="parameters" element="s0:SetGovCaseIDToAppointmentIDResponse" />
  </wsdl:message>
  <wsdl:message name="updateGovAppointmentSoapIn">
    <wsdl:part name="parameters" element="s0:updateGovAppointmentRequest" />
  </wsdl:message>
  <wsdl:message name="updateGovAppointmentSoapOut">
    <wsdl:part name="parameters" element="s0:updateGovAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="updateGovAppointmentWithFieldsSoapIn">
    <wsdl:part name="parameters" element="s0:updateGovAppointmentWithFieldsRequest" />
  </wsdl:message>
  <wsdl:message name="updateGovAppointmentWithFieldsSoapOut">
    <wsdl:part name="parameters" element="s0:updateGovAppointmentWithFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="updateGovAppointmentExtendedDetailsSoapIn">
    <wsdl:part name="parameters" element="s0:updateGovAppointmentExtendedDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="updateGovAppointmentExtendedDetailsSoapOut">
    <wsdl:part name="parameters" element="s0:updateGovAppointmentExtendedDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="updateGovAppointmentWithFieldsExtendedDetailsSoapIn">
    <wsdl:part name="parameters" element="s0:updateGovAppointmentWithFieldsExtendedDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="updateGovAppointmentWithFieldsExtendedDetailsSoapOut">
    <wsdl:part name="parameters" element="s0:updateGovAppointmentWithFieldsExtendedDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getGovAppointmentsCaseSoapIn">
    <wsdl:part name="parameters" element="s0:getGovAppointmentsCaseRequest" />
  </wsdl:message>
  <wsdl:message name="getGovAppointmentsCaseSoapOut">
    <wsdl:part name="parameters" element="s0:getGovAppointmentsCaseResponse" />
  </wsdl:message>
  <wsdl:message name="getGovAppointmentsBSNSoapIn">
    <wsdl:part name="parameters" element="s0:getGovAppointmentsBSNRequest" />
  </wsdl:message>
  <wsdl:message name="getGovAppointmentsBSNSoapOut">
    <wsdl:part name="parameters" element="s0:getGovAppointmentsBSNResponse" />
  </wsdl:message>
  <wsdl:message name="getGovAvailableDaysSoapIn">
    <wsdl:part name="parameters" element="s0:getGovAvailableDaysRequest" />
  </wsdl:message>
  <wsdl:message name="getGovAvailableDaysSoapOut">
    <wsdl:part name="parameters" element="s0:getGovAvailableDaysResponse" />
  </wsdl:message>
  <wsdl:message name="getGovAvailableTimesPerDaySoapIn">
    <wsdl:part name="parameters" element="s0:getGovAvailableTimesPerDayRequest" />
  </wsdl:message>
  <wsdl:message name="getGovAvailableTimesPerDaySoapOut">
    <wsdl:part name="parameters" element="s0:getGovAvailableTimesPerDayResponse" />
  </wsdl:message>
  <wsdl:message name="getGovAppointmentDurationSoapIn">
    <wsdl:part name="parameters" element="s0:getGovAppointmentDuration" />
  </wsdl:message>
  <wsdl:message name="getGovAppointmentDurationSoapOut">
    <wsdl:part name="parameters" element="s0:getGovAppointmentDurationResponse" />
  </wsdl:message>
  <wsdl:message name="bookGovAppointmentSoapIn">
    <wsdl:part name="parameters" element="s0:bookGovAppointmentRequest" />
  </wsdl:message>
  <wsdl:message name="bookGovAppointmentSoapOut">
    <wsdl:part name="parameters" element="s0:bookGovAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="bookGovAppointmentExtendedDetailsSoapIn">
    <wsdl:part name="parameters" element="s0:bookGovAppointmentExtendedDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="bookGovAppointmentExtendedDetailsSoapOut">
    <wsdl:part name="parameters" element="s0:bookGovAppointmentExtendedDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="RequestUpdateAppointmentSoapIn">
    <wsdl:part name="parameters" element="s0:RequestUpdateAppointmentRequest" />
  </wsdl:message>
  <wsdl:message name="RequestUpdateAppointmentSoapOut">
    <wsdl:part name="parameters" element="s0:RequestUpdateAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="RequestRemoveAppointmentSoapIn">
    <wsdl:part name="parameters" element="s0:RequestRemoveAppointmentRequest" />
  </wsdl:message>
  <wsdl:message name="RequestRemoveAppointmentSoapOut">
    <wsdl:part name="parameters" element="s0:RequestRemoveAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="RequestAddAppointmentSoapIn">
    <wsdl:part name="parameters" element="s0:RequestAddAppointmentRequest" />
  </wsdl:message>
  <wsdl:message name="RequestAddAppointmentSoapOut">
    <wsdl:part name="parameters" element="s0:RequestAddAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppointmentQRCodeTextSoapIn">
    <wsdl:part name="parameters" element="s0:GetAppointmentQRCodeTextRequest" />
  </wsdl:message>
  <wsdl:message name="GetAppointmentQRCodeTextSoapOut">
    <wsdl:part name="parameters" element="s0:GetAppointmentQRCodeTextResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppointmentFieldSettingsSoapIn">
    <wsdl:part name="parameters" element="s0:GetAppointmentFieldSettingsRequest" />
  </wsdl:message>
  <wsdl:message name="GetAppointmentFieldSettingsSoapOut">
    <wsdl:part name="parameters" element="s0:GetAppointmentFieldSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequiredClientFieldsSoapIn">
    <wsdl:part name="parameters" element="s0:GetRequiredClientFieldsRequest" />
  </wsdl:message>
  <wsdl:message name="GetRequiredClientFieldsSoapOut">
    <wsdl:part name="parameters" element="s0:GetRequiredClientFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequiredClientFieldsExtendedSoapIn">
    <wsdl:part name="parameters" element="s0:GetRequiredClientFieldsExtendedRequest" />
  </wsdl:message>
  <wsdl:message name="GetRequiredClientFieldsExtendedSoapOut">
    <wsdl:part name="parameters" element="s0:GetRequiredClientFieldsExtendedResponse" />
  </wsdl:message>
  <wsdl:message name="GetDayPartPeriodsSoapIn">
    <wsdl:part name="parameters" element="s0:GetDayPartPeriodsRequest" />
  </wsdl:message>
  <wsdl:message name="GetDayPartPeriodsSoapOut">
    <wsdl:part name="parameters" element="s0:GetDayPartPeriodsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppointmentFieldsSoapIn">
    <wsdl:part name="parameters" element="s0:GetAppointmentFieldsRequest" />
  </wsdl:message>
  <wsdl:message name="GetAppointmentFieldsSoapOut">
    <wsdl:part name="parameters" element="s0:GetAppointmentFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="MidofficeRequestSoapIn">
    <wsdl:part name="parameters" element="s0:MidOfficeRequestRequest" />
  </wsdl:message>
  <wsdl:message name="MidofficeRequestSoapOut">
    <wsdl:part name="parameters" element="s0:MidofficeRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="GenericGuidanceSystem2Soap">
    <wsdl:operation name="getGovProductDetails">
      <wsdl:input message="tns:getGovProductDetailsSoapIn" />
      <wsdl:output message="tns:getGovProductDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGovAvailableProducts">
      <wsdl:input message="tns:getGovAvailableProductsSoapIn" />
      <wsdl:output message="tns:getGovAvailableProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLanguages">
      <wsdl:input message="tns:GetLanguagesSoapIn" />
      <wsdl:output message="tns:GetLanguagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnableSecureAppointmentLinks">
      <wsdl:input message="tns:EnableSecureAppointmentLinksSoapIn" />
      <wsdl:output message="tns:EnableSecureAppointmentLinksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGovLocationDetails">
      <wsdl:input message="tns:getGovLocationDetailsSoapIn" />
      <wsdl:output message="tns:getGovLocationDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGovLocationsForProduct">
      <wsdl:input message="tns:getGovLocationsForProductSoapIn" />
      <wsdl:output message="tns:getGovLocationsForProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteGovAppointment">
      <wsdl:input message="tns:deleteGovAppointmentSoapIn" />
      <wsdl:output message="tns:deleteGovAppointmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSecureLinkIdByAppId">
      <wsdl:input message="tns:GetSecureLinkIdByAppIdSoapIn" />
      <wsdl:output message="tns:GetSecureLinkIdByAppIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppIdBySecureLink">
      <wsdl:input message="tns:GetAppIdBySecureLinkSoapIn" />
      <wsdl:output message="tns:GetAppIdBySecureLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAppointmentEmail">
      <wsdl:input message="tns:SendAppointmentEmailSoapIn" />
      <wsdl:output message="tns:SendAppointmentEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGovLocations">
      <wsdl:input message="tns:getGovLocationsSoapIn" />
      <wsdl:output message="tns:getGovLocationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentTimeUnit">
      <wsdl:input message="tns:getGovAppointmentTimeUnitSoapIn" />
      <wsdl:output message="tns:getGovAppointmentTimeUnitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentDetails">
      <wsdl:input message="tns:getGovAppointmentDetailsSoapIn" />
      <wsdl:output message="tns:getGovAppointmentDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentExtendedDetails">
      <wsdl:input message="tns:getGovAppointmentExtendedDetailsSoapIn" />
      <wsdl:output message="tns:getGovAppointmentExtendedDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentsByClientID">
      <wsdl:input message="tns:getGovAppointmentsByClientIDSoapIn" />
      <wsdl:output message="tns:getGovAppointmentsByClientIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGovAppointments">
      <wsdl:input message="tns:getGovAppointmentsSoapIn" />
      <wsdl:output message="tns:getGovAppointmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGovAvailableProductsByProduct">
      <wsdl:input message="tns:getGovAvailableProductsByProductSoapIn" />
      <wsdl:output message="tns:getGovAvailableProductsByProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGovLatestPlanDate">
      <wsdl:input message="tns:getGovLatestPlanDateSoapIn" />
      <wsdl:output message="tns:getGovLatestPlanDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGovCaseIDToAppointmentID">
      <wsdl:input message="tns:SetGovCaseIDToAppointmentIDSoapIn" />
      <wsdl:output message="tns:SetGovCaseIDToAppointmentIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateGovAppointment">
      <wsdl:input message="tns:updateGovAppointmentSoapIn" />
      <wsdl:output message="tns:updateGovAppointmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateGovAppointmentWithFields">
      <wsdl:input message="tns:updateGovAppointmentWithFieldsSoapIn" />
      <wsdl:output message="tns:updateGovAppointmentWithFieldsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateGovAppointmentExtendedDetails">
      <wsdl:input message="tns:updateGovAppointmentExtendedDetailsSoapIn" />
      <wsdl:output message="tns:updateGovAppointmentExtendedDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateGovAppointmentWithFieldsExtendedDetails">
      <wsdl:input message="tns:updateGovAppointmentWithFieldsExtendedDetailsSoapIn" />
      <wsdl:output message="tns:updateGovAppointmentWithFieldsExtendedDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentsCase">
      <wsdl:input message="tns:getGovAppointmentsCaseSoapIn" />
      <wsdl:output message="tns:getGovAppointmentsCaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentsBSN">
      <wsdl:input message="tns:getGovAppointmentsBSNSoapIn" />
      <wsdl:output message="tns:getGovAppointmentsBSNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGovAvailableDays">
      <wsdl:input message="tns:getGovAvailableDaysSoapIn" />
      <wsdl:output message="tns:getGovAvailableDaysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGovAvailableTimesPerDay">
      <wsdl:input message="tns:getGovAvailableTimesPerDaySoapIn" />
      <wsdl:output message="tns:getGovAvailableTimesPerDaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentDuration">
      <wsdl:input message="tns:getGovAppointmentDurationSoapIn" />
      <wsdl:output message="tns:getGovAppointmentDurationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="bookGovAppointment">
      <wsdl:input message="tns:bookGovAppointmentSoapIn" />
      <wsdl:output message="tns:bookGovAppointmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="bookGovAppointmentExtendedDetails">
      <wsdl:input message="tns:bookGovAppointmentExtendedDetailsSoapIn" />
      <wsdl:output message="tns:bookGovAppointmentExtendedDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestUpdateAppointment">
      <wsdl:input message="tns:RequestUpdateAppointmentSoapIn" />
      <wsdl:output message="tns:RequestUpdateAppointmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestRemoveAppointment">
      <wsdl:input message="tns:RequestRemoveAppointmentSoapIn" />
      <wsdl:output message="tns:RequestRemoveAppointmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestAddAppointment">
      <wsdl:input message="tns:RequestAddAppointmentSoapIn" />
      <wsdl:output message="tns:RequestAddAppointmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentQRCodeText">
      <wsdl:input message="tns:GetAppointmentQRCodeTextSoapIn" />
      <wsdl:output message="tns:GetAppointmentQRCodeTextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentFieldSettings">
      <wsdl:input message="tns:GetAppointmentFieldSettingsSoapIn" />
      <wsdl:output message="tns:GetAppointmentFieldSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequiredClientFields">
      <wsdl:input message="tns:GetRequiredClientFieldsSoapIn" />
      <wsdl:output message="tns:GetRequiredClientFieldsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequiredClientFieldsExtended">
      <wsdl:input message="tns:GetRequiredClientFieldsExtendedSoapIn" />
      <wsdl:output message="tns:GetRequiredClientFieldsExtendedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDayPartPeriods">
      <wsdl:input message="tns:GetDayPartPeriodsSoapIn" />
      <wsdl:output message="tns:GetDayPartPeriodsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentFields">
      <wsdl:input message="tns:GetAppointmentFieldsSoapIn" />
      <wsdl:output message="tns:GetAppointmentFieldsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MidofficeRequest">
      <wsdl:input message="tns:MidofficeRequestSoapIn" />
      <wsdl:output message="tns:MidofficeRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GenericGuidanceSystem2Soap" type="tns:GenericGuidanceSystem2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getGovProductDetails">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovProductDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAvailableProducts">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAvailableProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLanguages">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getLanguages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableSecureAppointmentLinks">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/enableSecureAppointmentLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovLocationDetails">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovLocationDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovLocationsForProduct">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovLocationsForProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGovAppointment">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/deleteGovAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecureLinkIdByAppId">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getSecureLinkIdByAppId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppIdBySecureLink">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getAppIdByLinkId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAppointmentEmail">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/sendAppointmentEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovLocations">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentTimeUnit">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAppointmentTimeUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentDetails">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAppointmentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentExtendedDetails">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAppointmentExtendedDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentsByClientID">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAppointmentsByClientID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAppointments">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAppointments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAvailableProductsByProduct">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAvailableProductsByProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovLatestPlanDate">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovLatestPlanDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGovCaseIDToAppointmentID">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/SetGovCaseIDToAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGovAppointment">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/updateGovAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGovAppointmentWithFields">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/updateGovAppointmentWithFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGovAppointmentExtendedDetails">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/updateGovAppointmentExtendedDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGovAppointmentWithFieldsExtendedDetails">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/updateGovAppointmentWithFieldsExtendedDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentsCase">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAppointmentsCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentsBSN">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAppointmentsBSN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAvailableDays">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAvailableDays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAvailableTimesPerDay">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAvailableTimesPerDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentDuration">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAppointmentDuration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bookGovAppointment">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/bookGovAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bookGovAppointmentExtendedDetails">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/bookGovAppointmentExtendedDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestUpdateAppointment">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/RequestUpdateAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestRemoveAppointment">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/RequestRemoveAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestAddAppointment">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/RequestAddAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentQRCodeText">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/GetAppointmentQRCodeText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentFieldSettings">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/GetAppointmentFieldSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequiredClientFields">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/GetRequiredClientFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequiredClientFieldsExtended">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/GetRequiredClientFieldsExtended" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayPartPeriods">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/GetDayPartPeriods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentFields">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/GetAppointmentFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MidofficeRequest">
      <soap:operation soapAction="http://www.genericCBS.org/GenericCBS/MidOfficeRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GenericGuidanceSystem2Soap12" type="tns:GenericGuidanceSystem2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getGovProductDetails">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovProductDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAvailableProducts">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAvailableProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLanguages">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getLanguages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableSecureAppointmentLinks">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/enableSecureAppointmentLinks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovLocationDetails">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovLocationDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovLocationsForProduct">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovLocationsForProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGovAppointment">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/deleteGovAppointment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecureLinkIdByAppId">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getSecureLinkIdByAppId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppIdBySecureLink">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getAppIdByLinkId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAppointmentEmail">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/sendAppointmentEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovLocations">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovLocations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentTimeUnit">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAppointmentTimeUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentDetails">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAppointmentDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentExtendedDetails">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAppointmentExtendedDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentsByClientID">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAppointmentsByClientID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAppointments">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAppointments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAvailableProductsByProduct">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAvailableProductsByProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovLatestPlanDate">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovLatestPlanDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGovCaseIDToAppointmentID">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/SetGovCaseIDToAppointment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGovAppointment">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/updateGovAppointment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGovAppointmentWithFields">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/updateGovAppointmentWithFields" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGovAppointmentExtendedDetails">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/updateGovAppointmentExtendedDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGovAppointmentWithFieldsExtendedDetails">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/updateGovAppointmentWithFieldsExtendedDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentsCase">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAppointmentsCase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentsBSN">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAppointmentsBSN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAvailableDays">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAvailableDays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAvailableTimesPerDay">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAvailableTimesPerDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovAppointmentDuration">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/getGovAppointmentDuration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bookGovAppointment">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/bookGovAppointment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bookGovAppointmentExtendedDetails">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/bookGovAppointmentExtendedDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestUpdateAppointment">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/RequestUpdateAppointment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestRemoveAppointment">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/RequestRemoveAppointment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestAddAppointment">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/RequestAddAppointment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentQRCodeText">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/GetAppointmentQRCodeText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentFieldSettings">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/GetAppointmentFieldSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequiredClientFields">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/GetRequiredClientFields" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequiredClientFieldsExtended">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/GetRequiredClientFieldsExtended" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayPartPeriods">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/GetDayPartPeriods" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentFields">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/GetAppointmentFields" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MidofficeRequest">
      <soap12:operation soapAction="http://www.genericCBS.org/GenericCBS/MidOfficeRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GenericGuidanceSystem2">
    <wsdl:port name="GenericGuidanceSystem2Soap" binding="tns:GenericGuidanceSystem2Soap">
      <soap:address location="http://example.com/soap11" />
    </wsdl:port>
    <wsdl:port name="GenericGuidanceSystem2Soap12" binding="tns:GenericGuidanceSystem2Soap12">
      <soap12:address location="http://example.com/soap12" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>